---
import LoginBody from '@/components/LoginBody.svelte';
import Window from '@/components/Window.svelte';
import Layout from '@/layouts/Layout.astro';
import ChooseLanguage from "@/components/ChooseLanguage.svelte";
import Resize from '@/components/Resize.svelte';
---

<Layout title="Ventanas 95">
	<main class="background-wallpaper h-screen w-screen">
		<ChooseLanguage client:visible />
		<Window client:visible title="login.title" hasQuestionButton maxWidth={530} canBeResized={false}>
			<LoginBody client:visible />
		</Window>
		<Resize client:visible minWidth={300} />
	</main>
</Layout>