---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script type="module">
	document.querySelector("body")?.addEventListener('contextmenu', (e) => {
		// e.preventDefault();
	});
</script>

<style is:global>
	@font-face {
		font-family: 'W95fa';
		src: url('/fonts/w95fa.woff2') format('woff2'),
				url('/fonts/w95fa.woff') format('woff'),
				url('/fonts/w95fa.woff') format('woff');
	}

	html {
		font-family: 'W95fa', Arial, sans-serif;
		overflow: hidden;
	}

	body {
		cursor: url('/cursors/arrow.cur'), default;
	}

	.background-wallpaper {
		background: #00B0B0
	}

	.background-window-head {
		background: #010081;
	}

	.background-silver {
		background: #c0c0c0;
	}

	button {
		cursor: url('/cursors/pointer.cur'), pointer;
	}

	button, .border-color-up {
		border: solid 2px;
		border-color: #f5f5f5 #0b1717 #0b1717 #f5f5f5;
	}

	button:active, .border-color-down {
		border: solid 2px;
		border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
	}

	button:focus-visible {
		outline: 2px solid #0b1717;
	}

	input {
		border: solid 1px;
		border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
		box-shadow: 1px 1px 1px 0px #f5f5f5, -1px -1px 1px 0px #0b1717;
	}

	input:focus {
		outline: none;
	}
</style>
