---
import ChooseLanguage from "@/components/ChooseLanguage.svelte"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/fonts/w95fa.woff2">
		<link rel="preload" as="font" type="font/woff" crossorigin="anonymous" href="/fonts/w95fa.woff">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="background-wallpaper h-screen w-screen">
			<ChooseLanguage client:visible />
			<slot />
		</main>
	</body>
</html>

<script type="module">
	window.addEventListener("contextmenu", (e) => {
		e.preventDefault();
	});
	window.addEventListener('beforeunload', () => {
		localStorage.clear();
	});
</script>

<style is:global>
	@font-face {
		font-family: 'W95fa';
		src: url('/fonts/w95fa.woff2') format('woff2'),
				url('/fonts/w95fa.woff') format('woff'),
	}

	:root {
		--scrollbarWidth: 16px;
	}

	html {
		font-family: 'W95fa', Arial, sans-serif;
		overflow: hidden;
		user-select: none;
	}

	body, button, .cursor-default {
		cursor: url('/cursors/arrow.cur'), default;
	}

	.background-wallpaper {
		background: #4da2a2
	}

	.background-window-head {
		background: #0000aa;
	}

	.background-silver {
		background: #c0c0c0;
	}

	.background-dark-silver {
		background: #888888;
	}

	.background-granulated {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><rect x="0" y="0" width="5" height="5" fill="rgba(255, 255, 255, 0.4)" /><line x1="1" y1="5" x2="5" y2="0" stroke="rgba(255, 255, 255, 0.4)" stroke-width="1" /></svg>');
  }

	.text-color-silver {
		color: #c0c0c0;
	}

	button, .border-color-up {
		border: solid 2px;
		border-color: #f5f5f5 #0b1717 #0b1717 #f5f5f5;
	}

	.border-color-shadow-up {
		border: solid 1px;
		border-color: #f5f5f5 #0b1717 #0b1717 #f5f5f5;
		box-shadow: 1px 1px 1px 0px #0b1717, -1px -1px 1px 0px #f5f5f5;
	}

	button:active, .border-color-down {
		border: solid 2px;
		border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
	}

	.border-color-down {
		border: solid 1px;
		border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
		box-shadow: 1px 1px 1px 0px #f5f5f5, -1px -1px 1px 0px #0b1717;
	}

	.border-color-soft-up {
		border: solid 2px;
		border-color: #f5f5f5 #888888 #888888 #f5f5f5;
	}

	.border-color-soft-down {
		border: solid 2px;
		border-color: #888888 #f5f5f5 #f5f5f5 #888888;
	}

	.border-top-white {
    border-top: 2px solid #f5f5f5;
  }

	button:focus-visible {
		outline: 2px solid #0b1717;
	}

	input:not([type='radio']) {
		border: solid 1px;
		border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
		box-shadow: 1px 1px 1px 0px #f5f5f5, -1px -1px 1px 0px #0b1717;
	}

	input:focus {
		outline: none;
	}

	input[type="radio"] {
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
    border-radius: 50%;

    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1em 1em black;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

	.display-none {
		display: none;
	}

	::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    height: var(--scrollbarWidth);
  }

  ::-webkit-scrollbar-track {
    background: #c0c0c0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><rect x="0" y="0" width="5" height="5" fill="rgba(255, 255, 255, 0.4)" /><line x1="1" y1="5" x2="5" y2="0" stroke="rgba(255, 255, 255, 0.4)" stroke-width="1" /></svg>');
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border: solid 2px;
		border-color: #f5f5f5 #0b1717 #0b1717 #f5f5f5;
  }

  ::-webkit-scrollbar-corner {
    background-color: #c0c0c0;
  }

  ::-webkit-scrollbar-button:single-button {
    width: var(--scrollbarWidth); /* from :root */
    height: var(--scrollbarWidth); /* from :root */
    background: #c0c0c0;
    border: solid 2px;
		border-color: #f5f5f5 #0b1717 #0b1717 #f5f5f5;
    background-size: 8px;
    background-repeat: no-repeat;
  }

  ::-webkit-scrollbar-button:single-button:active {
    border-color: #0b1717 #f5f5f5 #f5f5f5 #0b1717;
  }

  ::-webkit-scrollbar-button:vertical:start:decrement {
    background-position: center 4px;
    background-image: var(--verStaDecTriangle);
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    background-position: center 4px;
    background-image: var(--verEndIncTriangle);
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    background-position: 4px 3px;
    background-image: var(--horStaDecTriangle);
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    background-position: 5px 3px;
    background-image: var(--horEndIncTriangle);
  }
</style>
